:root {
  --black1: #000;
  --black2: #1d1d1d;
  --black3: #010202;
  --black4: #333;
  --black5: #1c1c1c;

  --white: #fff;

  --green: #48be9c;

  --red: #ee6363;
  --lightGray: #f4f4f4;
  --darkGray: #999999;

  --greenGradient: linear-gradient(269.41deg, #45c6a1 0.51%, #179a74 99.5%);
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-Regular.woff2'),
    url('../assets/fonts/Gilroy-Regular.woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-Semibold.woff2'),
    url('../assets/fonts/Gilroy-Semibold.woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-Bold.woff2'),
    url('../assets/fonts/Gilroy-Bold.woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Gilroy', Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input {
  padding: 0;
  background: transparent;
  border: 0;
  appearance: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body .rc-slider-tooltip-inner {
  background-color: transparent;
  height: auto;
  padding: 0;
  box-shadow: none;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: var(--white);
}

@media (max-width: 768px) {
  body .rc-slider-tooltip-inner {
    display: none;
  }
}
